<h3>Je souhaite modifier mon commentaire</h3>
<form action="/gossip/<%= params[:gossip_id] %>/comment/<%=params[:id]%>" method="post">

  <input type="text" name="content" value="<%= @current_comment.content %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Valider">
</form>

<form action="/gossip/<%= params[:gossip_id] %>/comment/<%=params[:id]%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="supprimez mon commentaire">
</form>
