<h1> Bienvenue <%= current_user.first_name %></h1>

<h3>Que souhaitez-vous faire ?</h3>

<%= link_to"créer un nouveau potin", new_gossip_path, :class => "btn btn-primary"%>

<%= link_to"regarder ma bibliothèque de potins", gossip_index_path, :class => "btn btn-primary"%>

<%= link_to"editer mon profil", edit_user_path(current_user.id), :class => "btn btn-primary"%>

<form action="/sessions/<%= current_user.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="se déconnecter">
</form>
